.App, #root {
  width: 100%;
}
.App-logo {
  max-width: 4%;
  height: auto;
}

@media(max-width: 700px) {
  .App-logo {
    max-width: 10%;
  }
}

.App-header {
  background-color: #222;
  padding: 0.8%;
  color: white;
  text-align: center;
}

h2 {
  font-size: 3em;
}

//will remove bootstrap soon
.btn {
  font-size: 1.4em;
  background-color: #00bcd4;
}

.button {
  font-size: 1.4em;
  background-color: #00bcd4;
  color: #fff;
  padding: 6px 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0;

  &:hover {
    background-color: #009db6;
  }

  &.active{
    background-color: #009db6;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  border: 2px solid #000;
  background-color: #fafafa;
  padding: 6px;
  vertical-align: middle;
  margin: 0;

  &:focus{
    outline: none;
  }

  &:checked:after {
    content: '\2714';
    font-size: 1em;
    position: absolute;
    top: 9px;
    left: 15px;
    color: #000000;
  }
}

@media (max-width: 425px) {
  .input-group-addon {
    width: 45%;
    white-space: normal;
  }
}

@mixin tab {
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      &.active {
        ~ .active-bar {
          left: calc((100% / #{3}) * #{$i - 1}) !important;
        }
      }
    }
  }
}

.tab{
  @include tab;
}