.App, #root{
  width: 100%;
  height: 100%;
}
.App-logo {
  /*animation: App-logo-spin infinite 5s linear;*/
  height: 53.3%;
}

.App-header {
  background-color: #222;
  height: 19.306%;
  padding: 1.38889%;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {transform: rotate(30deg); }
  to { transform: rotate(-30deg); }
}
