.App, #root{
  width: 100%;
}
.App-logo {
  max-width: 5%;
  height: auto;
}

.App-header {
  background-color: #222;
  padding: 0.8%;
  color: white;
  text-align: center;
}

h2{
  font-size: 3em;
}

@keyframes App-logo-spin {
  from {transform: rotate(30deg); }
  to { transform: rotate(-30deg); }
}

.input-group-addon{
  font-size: 1.4em;
  padding: 1.225% 2.45%;
}

.btn{
  font-size: 1.4em;
}